packages:
  yum:
    epel-release: []

container_commands:
  10_stop_httpd:
    command: "sudo service nginx stop"
  20_createdir:
    command: "mkdir /opt/certbot || true"
  30_installcertbot:
    command: "wget https://dl.eff.org/certbot-auto -O /opt/certbot/certbot-auto"
  40_permission:
    command: "chmod a+x /opt/certbot/certbot-auto"
  50_getcert:
    command: "sudo /opt/certbot/certbot-auto certonly --debug --non-interactive --email ${CERT_EMAIL} --agree-tos --standalone --domains ${CERT_DOMAIN} --keep-until-expiring"
  60_link:
    command: "ln -sf /etc/letsencrypt/live/${CERT_DOMAIN} /etc/letsencrypt/live/ebcert"
  70_remove_http:
    command: "sudo rm /etc/nginx/conf.d/elasticbeanstalk/00_application.conf"
  80_start_httpd:
    command: "sudo service nginx start"
  90_cronjob_renew:
    command: "cat .ebextensions/certificate_renew.txt > /etc/cron.d/certificate_renew && chmod 644 /etc/cron.d/certificate_renew"
