<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Country Code</title>
    <link th:href="@{/assets/libs/jquery-datatables/extensions/Buttons/css/jquery.dataTables.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/jquery-datatables/extensions/Buttons/css/buttons.dataTables.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/bootstrap-select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/bootstrap-select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div layout:fragment="content">
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-file'></i> Country Code</h1>
    </div>
    <!-- Page Heading End-->
    <div class="row">
        <div class="col-md-12 portlets">
            <div class="widget">
                <div class="widget-header">
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div id="errorMessageDivDelete" class="alert alert-danger" style="display: none;">
                    <button id="btnCloseErrorDiv" type="button" class="close">
                        <i class="ace-icon fa fa-times">You cann't Delete this row!</i>
                    </button>
                    <label id="errorMessageDelete"></label>
                </div>
                <div id="myModalDeletecode" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deletelabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="deletelabel">Delete Country</h4>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this country code?</p>
                            </div>

                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="row">

                                            <div class="col-md-2"></div>
                                            <div class="col-md-2">
                                                <button type="button" data-dismiss="modal" class="btn btn-darkblue-1"
                                                        id="cancelDelete">Cancel
                                                </button>
                                            </div>
                                            <div class="col-md-3"></div>
                                            <div class="col-md-3">
                                                <button type="button" class="btn btn-darkblue-1" id="okDelete">OK
                                                </button>
                                            </div>

                                            <div class="col-md-2"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                <div id="myModalcode" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="myModalLabel">Edit Country Code</h4>
                            </div>
                            <div class="modal-body">
                                <div id="errorMessageDivEdit" class="alert alert-danger" style="display: none;">
                                    <button id="btnCloseErrorDivEdit" type="button" class="close">
                                        <i class="ace-icon fa fa-times"></i>
                                    </button>
                                    <label id="errorMessageEdit">Please Enter Country code</label>
                                </div>
                                <form role="form" id="EditcountrycodeForm">
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="EditcountryId"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" id="EditcountrycodeId"/>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Country Name"
                                               id="Editcode"/>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="row">

                                            <div class="col-md-3"></div>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-darkblue-1" id="buttonEditcode">
                                                    Edit
                                                    Country Code
                                                </button>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


                <div id="myModalAddcode" class="modal fade"  role="dialog" aria-labelledby="label"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">

                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                                </button>
                                <h4 class="modal-title" id="label">Add Country</h4>
                            </div>
                            <div class="modal-body">
                                <div id="errorMessageDivAdd" class="alert alert-danger" style="display: none;">
                                    <button id="btnCloseErrorDivAdd" type="button" class="close">
                                        <i class="ace-icon fa fa-times"></i>
                                    </button>
                                    <label id="errorMessageAdd">Please Enter Country name</label>
                                </div>
                                <form role="form" id="AddcountryForm">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <select class="form-control" id="countryselect" style="width:100%;"/>
                                            <div class="col-md-2"></div>
                                            </div></div>
                                        <br/>
                                        <div class="row">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-8">
                                                <input type="text" class="form-control" id="countrycode"
                                                       placeholder="Country Code"/>
                                            </div>
                                            <div class="col-md-2"></div>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    <div class="col-md-4"></div>
                                    <div class="col-md-4">
                                        <div class="row">

                                            <div class="col-md-3"></div>
                                            <div class="col-md-4">
                                                <button type="submit" class="btn btn-darkblue-1" id="buttoncode">Add
                                                    Country Code
                                                </button>
                                            </div>
                                            <div class="col-md-3"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->


                <div class="widget-content">

 <div class="table-responsive">
                        <form class='form-horizontal' role='form'>
                            <table id="operatorDTCountrycode" class="table table-striped table-bordered" cellspacing="0"
                                   width="100%">
                                <thead>
                                <tr>
                                    <th>Country_Code_ID</th>
                                    <th>Code</th>
                                    <th>Country ID</th>
                                    <th>Country Name</th>
                                    <th>Options</th>
                                </tr>
                                </thead>

                                <tfoot>
                                <tr>
                                    <th>Country_Code_ID</th>
                                    <th>Code</th>
                                    <th>Country ID</th>
                                    <th>Country Name</th>
                                    <th>Options</th>
                                </tr>
                                </tfoot>

                            </table>
                        </form>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>


<div layout:fragment="script">
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/jquery-1.12.4.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/jszip.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/pdfmake.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/vfs_fonts.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap-select2/js/select2.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap-select2/js/select2.extended-ajax.js}"></script>
    <script>

        // <![CDATA[
        var table;
        var recordsTotal = 0;


        $(function () {
            function actionEditButtons() {
                return '<div class="btn-group">\n' +
                    '<a title="Edit" class="edit btn btn-darkblue-1" data-toggle="modal" data-target="#myModalcode"><i class="fa fa-edit"></i></a>' +
                    '<a title="Delete" class="delete btn btn-darkblue-1" data-toggle="modal" data-target="#myModalDeletecode"><i class="fa fa-times"></i></a>' +
                    '</div>'
            }
            $('#operatorDTCountrycode').on('init.dt', function() {
                $('.data-add')
                    .attr('data-toggle', 'modal')
                    .attr('data-target', '#myModalAddcode');
            });


            table = $('#operatorDTCountrycode').DataTable({
                dom: 'Blfrtip',
                buttons: [
                    {
                        text: 'Add Country',
                        action: function ( ) {
                            fillCountrySelect();
                        },
                        className: 'data-add'
                    },
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ],
                serverSide: true,
                paging: false,

                "search": {
                    "regex": true
                },
                "columns": [
                    {"data": 'countryCodeId'},
                    {"data": 'code'},
                    {"data": 'countryId'},
                    {"data": 'country.countryName'},
                    {
                        "data": null,
                        "defaultContent": actionEditButtons()
                    },


                ],
                "ajax": function (data, callback, settings) {

                    var url = "/api/countryCodes?projection=dataTable";

                    if (data.search != null && data.search.value != "") {
                        url = "/api/countryCodes/search/findByCountryName?projection=dataTable";
                    }

                    var response = $.ajax({
                        "url": url,
                        "data": {
                            countryName: (data.search.value != null) ? data.search.value : '',
                            size: data.length,
                            page: (data.start == 0) ? 0 : (data.start / data.length),
                            sort: data.columns[data.order[0].column].data + ',' + data.order[0].dir
                        }
                    });

                    response.done(function (json) {
                        var result = {};
                        result.data = json._embedded.countryCodes;


                        callback(result);
                    });

                    response.fail(function (errorThrown) {
                        var errorMessage = (errorThrown.responseJSON) ? errorThrown.responseJSON.message : errorThrown.responseText;

                        $('#errorThrown').html(errorMessage);
                        $('#error').show();
                    });
                },
            });


        });


        $('#operatorDTCountrycode').on('click', 'a.edit', function (e) {
            var data = table.row($(this).parents('tr')).data();

            $('#EditcountryId').val(data.countryId);
            $('#Editcode').val(data.code);
            $('#EditcountrycodeId').val(data.countryCodeId);


        });


        function fillCountrySelect(){
            $('#countryselect').select2({
                minimumInputLength: 3,
                language: {
                    inputTooShort: function () {
                        return "Enter Country Name";
                    }
                },
                ajax : {
                    url : "/api/countries",
                    quietMillis : 500,
                    data : function(params) {
                        return {
                            countryName: params.term,
                            page: (params.page || 1) - 1,
                            projection: 'select2'
                        }
                    },
                    processResults : function (data,page) {
                        if (data._embedded)
                            return { results: data._embedded.countries };
                        else
                            return {results: data};
                    }
                },
                theme: 'bootstrap'
            });
        }
        $("#buttonEditcode").click(function () {

            var countryId = $('#EditcountryId').val();
            var code = $('#Editcode').val();
            var countryCodeId = $('#EditcountrycodeId').val();

            if (code != null && code != "") {
                var formData = {code: code, countryId: countryId};


                var url = "/api/countryCodes/" + countryCodeId;


                $.ajax({
                    type: "PUT",
                    contentType: "application/json",
                    url: url,
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    success: function (result) {

                        table.ajax.reload();
                        $("#myModalcode .close").click();
                        $("#EditcountrycodeForm")[0].reset();

                    },
                    error: function (e) {
                        alert("Error " + e);
                    }
                });
            }
            else {
                $('#errorMessageDivEdit').css("display", "block");
            }
        });
        $('#operatorDTCountrycode').on('click', 'a.delete', function (e) {

            datas = table.row($(this).parents('tr')).data();
        });

        $("#okDelete").click(function () {

            var url = "/api/countryCodes/" + datas.countryCodeId;
            var formData = {};

            $.ajax({
                type: "DELETE",
                contentType: "application/json",
                url: url,
                data: JSON.stringify(formData),
                dataType: 'json',
                success: function (result) {
                    table.ajax.reload();
                    $('#myModalDeletecode .close').click();

                },
                error: function (e) {
                    $('#errorMessageDivDelete').css("display", "block");
                    $('#myModalDeletecode .close').click();

                }
            });

        });

        $('#btnCloseErrorDivEdit').click(function () {
            $('#errorMessageDivEdit').css("display", "none");
        });
        $('#btnCloseErrorDiv').click(function () {
            $('#errorMessageDivDelete').css("display", "none");
        });
        $('#btnCloseErrorDivAdd').click(function () {
            $('#errorMessageDivAdd').css("display", "none");
        });


        $("#buttoncode").click(function () {
            var countrycode = $('#countrycode').val();
            var valueSelected=$("#countryselect").select2('val');
            if (countrycode != null && countrycode != "" && valueSelected != "") {
                var formData = {code: countrycode, countryId: valueSelected};


                var url = "/api/countryCodes";

                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: url,
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    success: function (result) {

                        table.ajax.reload();
                        $("#myModalAddcode .close").click();
                        $("#AddcountrycodeForm")[0].reset();

                    },
                    error: function (e) {
                        alert("Error " + e);
                    }
                });
            }
            else {
                $('#errorMessageDivAdd').css("display", "block");
            }
        });
        // ]]>


    </script>
</div>
</body>
</html>