<!DOCTYPE html>
<html layout:decorator="layout"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
<head>
    <title>Country</title>
</head>
<body>
<div layout:fragment="content">
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-file'></i> Country</h1>
        <h3>Country Page</h3>
    </div>
    <!-- Page Heading End-->
    <div class="row">
        <div class="col-md-12 portlets"></div>
    </div>
</div>
</body>
</html>