<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Operator</title>
    <link th:href="@{/assets/libs/jquery-datatables/css/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/jquery-datatables/extensions/Buttons/css/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/bootstrap-select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/bootstrap-select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div layout:fragment="content">
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-file'></i> Operator</h1>
    </div>
    <!-- Page Heading End-->
    <div id="errorMessageDivDelete" class="alert alert-danger" style="display:none;">
        <button id="btnCloseErrorDiv" type="button" class="close">
            <i class="ace-icon fa fa-times"></i>
        </button>
        <label id="errorMessageDelete">Error You cant Delete this row</label>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div id="mainWidget" class="widget">
                <div class="widget-header">
                    <div class="additional-btn">
                        <a href="#" class="hidden reload"><i class="icon-ccw-1"></i></a>
                        <a href="#" class="widget-toggle"><i class="icon-down-open-2"></i></a>
                        <a href="#" class="widget-close"><i class="icon-cancel-3"></i></a>
                    </div>
                </div>
                <div class="widget-content">
                    <br />
                    <div class="table-responsive">
                        <table id="operatorDT" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Operator Id</th>
                                <th>Operator Name</th>
                                <th>CountryName </th>
                                <th>Activation Date</th>
                                <th>Deactivation Date</th>
                                <th>Obsolete</th>
                                <th>Type ID</th>
                                <th>Options</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="myModalDelete" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="deletelabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="deletelabel">Delete Country</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this country?</p>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="row">

                                <div class="col-md-2"></div>
                                <div class="col-md-2">
                                    <button type="button" data-dismiss="modal" class="btn btn-darkblue-1"
                                            id="cancelDelete">Cancel
                                    </button>
                                </div>
                                <div class="col-md-3"></div>
                                <div class="col-md-3">
                                    <button type="button" class="btn btn-darkblue-1" id="okDelete">OK
                                    </button>
                                </div>

                                <div class="col-md-2"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Edit Operator</h4>
                </div>
                <div class="modal-body">
                    <div id="errorMessageDivEdit" class="alert alert-danger" style="display: none;">
                        <button id="btnCloseErrorDivEdit" type="button" class="close">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <label id="errorMessageEdit">Please Enter Operator Name</label>
                    </div>

                    <form role="form" id="EditoperatorForm">

                        <div class="form-group">
                            <input type="hidden" class="form-control" placeholder="Operator ID" id="EditoperatorId"/>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" placeholder="Country ID" id="EditcountryId"/>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Operator Name" id="Editoperatorname"/>
                        </div>

                        <div class="form-group" >
                            <input type="date" class="form-control" placeholder="Activation Date" id="activate"/>

                        </div>
                        <div class="form-group" >
                            <input type="date" class="form-control" placeholder="Deactivation Date" id="deactivate" />
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="Obsolete" id="obsolete"/>
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" placeholder="type_id" id="type_id"/>
                        </div>

                    </form>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="row">

                                <div class="col-md-3"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-darkblue-1" id="buttonEdit">Edit Operator</button>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>
                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <div id="addoperatorModal" class="modal fade"  role="dialog" aria-labelledby="label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="label">Add Operator</h4>
                </div>
                <div class="modal-body">
                    <div id="errorMessageDivAdd" class="alert alert-danger" style="display: none;">
                        <button id="btnCloseErrorDivAdd" type="button" class="close">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <label id="errorMessageAdd">Please fill missing data</label>
                    </div>
                    <form role="form" id="AddoperatorForm">
                        <div class="form-group">
                            <label>Operator Name:</label>
                            <input type="text" class="form-control" placeholder="Operator Name" id="operator_name"/>
                        </div>
                        <div class="form-group">
                            <label>Country Name:</label>
                            <select class="form-control" id="countryselect" style="width:100%;"/>
                        </div>
                        <div class="form-group">
                            <label>Obsolete:</label>
                            <input type="number" class="form-control"  id="_obsolete"/>
                        </div>
                        <div class="form-group">
                            <label>Activation Date:</label>
                            <input type="date" class="form-control"  id="_activate"/>
                        </div>
                        <div class="form-group">
                            <label>Deactivation Date:</label>
                            <input type="date" class="form-control"  id="_deactivate"/>
                        </div>
                        <div class="form-group">
                            <label>Type ID:</label>
                            <input type="number" class="form-control"  id="_type_id"/>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-darkblue-1" id="buttonadd">Add Operator</button>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


</div>
<div layout:fragment="script">
    <script th:src="@{/assets/libs/jquery-datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/jszip.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/pdfmake.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/vfs_fonts.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap-select2/js/select2.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap-select2/js/select2.extended-ajax.js}"></script>
    <script>
        // <![CDATA[

        var recordsTotal = 0;
        var table,datas;

            function actionButtons() {
                return '<div class="btn-group">\n' +
                    '<a title="Edit" class="edit btn btn-darkblue-1" data-toggle="modal" data-target="#myModal"><i class="fa fa-edit"></i></a>' +
                    '<a title="Delete" class="delete btn btn-darkblue-1" data-toggle="modal" data-target="#myModalDelete"><i class="fa fa-times"></i></a>' +
                    '</div>'
            }

        $('#operatorDT').on('init.dt', function () {
            $('.data-add')
                .attr('data-toggle', 'modal')
                .attr('data-target', '#addoperatorModal');
        });

           table = $('#operatorDT').DataTable({
               dom: '<"row"<"col-xs-4"l><"col-xs-3"f><"col-xs-5"<"pull-right"B>>>rt<"row"<"col-xs-6"i><"col-xs-6"p>>',
               language: {
                   "processing": "<h1><i class='fa fa-refresh fa-spin'></i> <strong>Loading</strong></h1>"
               },
               searchDelay: 700,
               processing: true,
                buttons: [
                    {
                        text: 'Add Operator',
                        action: function ( ) {
                            fillCountries();
                        },
                        className: 'data-add'
                    },
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ],
                serverSide: true,
                paging: true,
                "lengthMenu": [ 5, 10, 25, 50, 75, 100 ],
                "pageLength": 10,
                "columns" : [
                    { "data": 'operatorId'},
                    { "data": 'operatorName'},
                    { "data": 'country.countryName'},
                    { "data": 'activationDate'},
                    { "data": 'deactivationDate'},
                    {"data":'obsolete'},
                    {"data":'typeId'},
                    { "data": null, "defaultContent": actionButtons()}
                ],
                "ajax": function(data, callback,settings){
                    var el = $("#mainWidget");
                    blockUI(el);

                    var url = "/api/operators?projection=dataTable";

                    if(data.search != null && data.search.value != "") {
                        url = "/api/operators/search/findByOperatorName?projection=dataTable";
                    }

                    var response = $.ajax({
                        "url": url,
                        "data": {
                            operatorName: (data.search.value != null) ? data.search.value : '',
                            size: data.length,
                            page: (data.start == 0) ? 0 : (data.start / data.length),
                            sort: data.columns[data.order[0].column].data + ',' + data.order[0].dir
                        }
                    });

                    response.done(function(json){
                        var result = {};
                        result.data = json._embedded.operators;

                        if(json.page != null){
                            if(recordsTotal == 0){
                                recordsTotal = json.page.totalElements;
                            }
                            result.recordsTotal = recordsTotal;
                            result.recordsFiltered = json.page.totalElements;
                        }

                        callback(result);
                    });

                    response.fail(function(errorThrown){
                        var errorMessage = (errorThrown.responseJSON) ? errorThrown.responseJSON.message : errorThrown.responseText;

                        $('#errorThrown').html(errorMessage);
                        $('#error').show();
                    });

                    response.always(function () {
                        unblockUI(el);
                    });
                },
            });

        $('#operatorDT').on('click', 'a.edit', function (e) {

            var data = table.row($(this).parents('tr')).data();

           $('#EditoperatorId').val(data.operatorId).attr('readonly', true);
           $('#Editoperatorname').val(data.operatorName);
           $('#activate').val(data.activationDate);
           $('#deactivate').val(data.deactivationDate);
           $('#obsolete').val(data.obsolete);
           $('#type_id').val(data.typeId);
           $('#EditcountryId').val(data.countryId);
  });

        $("#buttonEdit").click(function () {

            var operatorId = $('#EditoperatorId').val();
            var operatorName = $('#Editoperatorname').val();
            var activate = $('#activate').val();
            var deactivate = $('#deactivate').val();
            var countryId=$('#EditcountryId').val();
            var obsolete=$("#obsolete").val();
            var type_id=$("#type_id").val();

          if (operatorName != null && operatorName != "" && activate!=null && activate!="" && operatorId!=null && operatorId!=""
          && deactivate!=null && deactivate!="" && countryId!=null && countryId!="" && obsolete!=null && obsolete!="" && type_id!=null && type_id!="") {

                var formData = {operatorName: operatorName,countryId:countryId,obsolete:obsolete,activationDate:activate,deactivationDate:deactivate,typeId:type_id};

                var url = "/api/operators/" + operatorId;


                $.ajax({
                    type: "PUT",
                    contentType: "application/json",
                    url: url,
                    data: JSON.stringify(formData),
                    dataType: 'json',
                    success: function (result) {

                        table.ajax.reload();
                        $("#myModal .close").click();
                        $("#EditoperatorForm")[0].reset();

                    },
                    error: function (e) {
                        alert("Error " + e);
                    }
                });
            }
            else {
                $('#errorMessageDivEdit').css("display", "block");
            }
        });

        $('#operatorDT').on('click', 'a.delete', function (e) {

            datas = table.row($(this).parents('tr')).data();
        });


        $("#okDelete").click(function () {
                var formData = {operatorId:datas.operatorId};
                $.ajax({
                    type: "DELETE",
                    contentType: "application/json",
                    url: "/api/operators/"+datas.operatorId,
                    success: function (result) {
                        $('#myModalDelete .close').click();
                        table.ajax.reload();
                    },
                    error: function (e) {
                        $('#myModalDelete .close').click();
                        $('#errorMessageDivDelete').css("display", "block");
                    }
                });

            }
        );

        function fillCountries(){
            if (!$('#countryselect').hasClass("select2-hidden-accessible")) {
                $('#countryselect').select2({
                    minimumInputLength: 1,
                    language: {
                        inputTooShort: function () {
                            return "Enter Country Name";
                        }
                    },
                    ajax : {
                        url : "/api/countries",
                        quietMillis : 500,
                        data : function(params) {
                            return {
                                countryName: params.term,
                                page: (params.page || 1) - 1,
                                projection: 'select2'
                            }
                        },
                        processResults : function (data,page) {
                            if (data._embedded)
                                return { results: data._embedded.countries };
                            else
                                return {results: data};
                        }
                    },
                    theme: 'bootstrap'
                });
            } else {
                $('#countryselect').val(null);
                $('#countryselect').trigger('change');
            }
        }

        $("#buttonadd").click(function () {
            var operator_Name = $("#operator_name").val();
            var countryName=$("#countryselect").select2('val');
            var obsolete=$("#_obsolete").val();
            var deactivate=$("#_deactivate").val();
            var activate=$("#_activate").val();
            var typeId=$("#_type_id").val();
            console.log(operator_Name+"  "+countryName+" "+obsolete+" "+deactivate+" "+activate+" "+typeId);
            if (operator_Name!=null && operator_Name!="" && countryName!=null && countryName!="" && obsolete!=null && obsolete!="" &&
                deactivate!=null && deactivate!="" && activate!=null && activate!="" && typeId!=null && typeId!="") {
                console.log("reach on check");
                var Data = {operatorName:operator_Name,countryId:countryName,obsolete:obsolete,activationDate:activate,deactivationDate:deactivate,typeId:typeId};
                var url = "/api/operators";
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: url,
                    data:JSON.stringify(Data),
                    dataType: 'json',
                    success: function (result) {
                        table.ajax.reload();
                        $("#addoperatorModal .close").click();
                        $("#AddoperatorForm")[0].reset();
                    },
                    error: function (e) {
                        console.log(e);
                        $('#errorMessageDivAdd').css("display", "block");
                    }
                });
            }

            else {
                console.log("reach but not valid");
                $('#errorMessageDivAdd').css("display", "block");
            }
        });

        $('#btnCloseErrorDivAdd').click(function () {
            $('#errorMessageDivAdd').css("display", "none");
        });

        $('#btnCloseErrorDiv').click(function () {
            $('#errorMessageDivDelete').css("display", "none");
        });
        $('#btnCloseErrorDivEdit').click(function () {
            $('#errorMessageDivEdit').css("display", "none");
        });

        // ]]>
    </script>
</div>
</body>
</html>