<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.springframework.org/security/tags"
>
<head>

</head>
<body>

<!-- Top Bar Start -->
<div th:fragment="topbar" class="topbar">
    <div class="topbar-left">
        <div class="logo">
            <h1><a href="#"><img th:src="@{/assets/img/logo.jpg}" alt="Logo"/></a></h1>
        </div>
        <button class="button-menu-mobile open-left">
            <i class="fa fa-bars"></i>
        </button>
    </div>
    <!-- Button mobile view to collapse sidebar menu -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container" th:with="currentUser=${#httpServletRequest.userPrincipal?.principal}">
            <div class="navbar-collapse2">
                <ul class="nav navbar-nav navbar-right top-navbar">
                    <li class="dropdown iconify hide-phone"><a href="#" onclick="javascript:toggle_fullscreen()"><i class="fa fa-arrows-v"></i></a></li>
                    <li class="dropdown topbar-profile">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><strong>  <span th:text="${currentUser?.username}">name</span>  </strong><i class="fa fa-caret-down"></i></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Change Password</a></li>
                            <li><a href="#">Account Setting</a></li>
                            <li class="divider"></li>
                            <li><a class="md-trigger" data-modal="logout-modal"><i class="fa fa-sign-out"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>
<!-- Top Bar End -->

<!-- Left Sidebar Start -->
<div th:fragment="sidebar" class="left side-menu">
    <div class="sidebar-inner slimscrollleft" th:with="currentUser=${#httpServletRequest.userPrincipal?.principal}">
        <!--- Profile -->
        <div class="profile-info">
            <div class="col-xs-4">
                <a class="rounded-image profile-image"><img th:src="@{/images/users/default-user.png}"/></a>
            </div>
            <div class="col-xs-8">
                <div class="profile-text">Welcome <b><span th:text="${currentUser?.username}"></span></b></div>
                <div class="profile-buttons">
                    <a href="javascript:;"><i class="fa fa-envelope-o pulse"></i></a>
                    <a href="javascript:;"><i class="fa fa-comments"></i></a>
                    <a href="javascript:;" title="Sign Out"><i class="fa fa-power-off text-red-1"></i></a>
                </div>
            </div>
        </div>
        <!--- Divider -->
        <div class="clearfix"></div>
        <hr class="divider" />
        <div class="clearfix"></div>
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul class="sidebar-menu">
                <li sec:authorize="hasRole('ROLE_EMPLOYEE')">
                    <a th:href='@{/dashboard}'><i class='fa fa-home'></i><span>Dashboard</span></a>
                </li>
                <li sec:authorize="hasRole('ROLE_EMPLOYEE')" class='has_sub'><a href='javascript:void(0);'><i class='fa fa-pencil'></i><span>Admin</span> <span
                        class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                    <ul>
                        <li><a th:href='@{/admin/country}'><span>Country</span></a></li>
                        <li><a th:href='@{/admin/operator}'><span>Operator</span></a></li>
                        <li><a th:href='@{/admin/countrycode}'><span>Country Code</span></a></li>
                        <li><a th:href='@{/admin/operatorcode}'><span>Operator Code</span></a></li>
                        <li><a th:href='@{/admin/zone}'><span>Zone</span></a></li>
                    </ul>
                </li>
                <li sec:authorize="hasRole('ROLE_EMPLOYEE')" class='has_sub'><a href='javascript:void(0);'><i class='fa fa-table'></i><span>Reports</span> <span
                        class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                    <ul>
                        <li><a th:href='@{/reports/statistics}'><span>Statistics</span></a></li>
                        <li><a th:href='@{/reports/custom}'><span>Custom</span></a></li>
                    </ul>
                </li>

                <li sec:authorize="hasRole('ROLE_PARTNER')">
                    <a th:href='@{/partner/statistics}'><i class='fa fa-home'></i><span>Statistics</span></a>
                </li>

                <li sec:authorize="hasRole('ROLE_EMPLOYEE')" class='has_sub'><a href='javascript:void(0);'><i class='fa fa-camera-retro'></i><span>Media</span> <span
                        class="pull-right"><i class="fa fa-angle-down"></i></span></a>
                    <ul>
                        <li><a th:href='@{/media/carrier}'><span>Carrier</span></a> </li>
                        <li><a th:href='@{/media/range}'><span>Range</span></a></li>
                        <li><a th:href='@{/media/random}'><span>Random</span></a></li>
                        <li><a th:href='@{/media/assignment}'><span>Assignment</span></a></li>
                    </ul>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix"></div><br/><br/><br/>
    </div>
    <div class="left-footer">
    </div>
</div>
<!-- Left Sidebar End -->

<!-- Footer Start -->
<footer th:fragment="footer">
    Zero&amp;One &copy; 2017
    <div class="footer-links pull-right">
        <a href="#">About</a><a href="#">Support</a><a href="#">Terms of Service</a><a href="#">Legal</a><a href="#">Help</a><a href="#">Contact Us</a>
    </div>
</footer>
<!-- Footer End -->
</body>
</html>