<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
      layout:decorator="layout"
      xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
    <title>Range</title>
    <link th:href="@{/assets/libs/jquery-datatables/css/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/jquery-datatables/extensions/Buttons/css/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/bootstrap-select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/libs/bootstrap-select2/css/select2-bootstrap.min.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div layout:fragment="content">
    <!-- Page Heading Start -->
    <div class="page-heading">
        <h1><i class='fa fa-file'></i>Range</h1>
    </div>

    <div class="row">
        <div class="col-md-12 portlets">
            <div class="widget">
                <div class="widget-header">
                    <h2>Range Table</h2>
                    <div class="additional-btn">
                        <a href="#" class=""><i class="fa fa-search"></i> </a>
                        <a href="#" class="widget-toggle"><i class="fa fa-chevron-down"></i></a>
                    </div>
                </div>

                <div class="widget-content">
                    <br />
                    <div class="table-responsive">
                        <table id="rangeDT" class="table table-striped table-bordered" cellspacing="0"
                               width="100%">
                            <thead>
                            <tr>
                                <th>Range ID</th>
                                <th>From</th>
                                <th>To</th>
                                <th>Carrier ID</th>
                                <th>Range Type</th>
                                <th>Assignment ID</th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="addrangeModal" class="modal fade"  role="dialog" aria-labelledby="label"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
                    </button>
                    <h4 class="modal-title" id="label">Add Range</h4>
                </div>
                <div class="modal-body">
                    <div id="errorMessageDivAdd" class="alert alert-danger" style="display: none;">
                        <button id="btnCloseErrorDivAdd" type="button" class="close">
                            <i class="ace-icon fa fa-times"></i>
                        </button>
                        <label id="errorMessageAdd"></label>
                    </div>
                    <form role="form" id="AddrangeForm">
                        <div class="form-group">
                            <div class="form-group">
                                <label>Range Type:</label>
                                <select class="form-control" id="rangeType" style="width:100%;">
                                    <option></option>
                                    <option>Carrier</option>
                                    <option>Random</option>
                                </select>
                            </div>
                            <label>Carrier Name:</label>
                            <select class="form-control" id="carrierselect" style="width:100%;"/>
                        </div>
                        <div class="form-group">
                            <label>From:</label>
                            <input type="number" class="form-control" placeholder="From" id="from"/>
                        </div>
                        <div class="form-group">
                            <label>To:</label>
                            <input type="number" class="form-control" placeholder="To" id="to"/>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-3"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-darkblue-1" id="buttonadd">Add Range</button>
                                </div>
                                <div class="col-md-3"></div>
                            </div>
                        </div>
                    </div>

                </div>


            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

</div>


<div layout:fragment="script">
    <script th:src="@{/assets/libs/jquery-datatables/js/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/js/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/buttons.print.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/jszip.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/pdfmake.min.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/vfs_fonts.js}"></script>
    <script th:src="@{/assets/libs/jquery-datatables/extensions/Buttons/js/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap-select2/js/select2.min.js}"></script>
    <script th:src="@{/assets/libs/bootstrap-select2/js/select2.extended-ajax.js}"></script>

    <script>

        // <![CDATA[
        var table;
        var recordsTotal = 0;


        $(function () {
            $('#rangeDT').on('init.dt', function () {
                $('.data-add')
                    .attr('data-toggle', 'modal')
                    .attr('data-target', '#addrangeModal');
            });


            table = $('#rangeDT').DataTable({
                dom: '<"row"<"col-xs-4"l><"col-xs-3"f><"col-xs-5"<"pull-right"B>>>rt<"row"<"col-xs-6"i><"col-xs-6"p>>',
                language: {
                    "processing": "<h1><i class='fa fa-refresh fa-spin'></i> <strong>Loading</strong></h1>"
                },
                searchDelay: 700,
                processing: true,
                buttons: [
                    {
                        text: 'Add Range',
                        action: function () {
                            fillCarriers();
                        },
                        className: 'data-add'
                    },
                    'copyHtml5',
                    'csvHtml5',
                    'excelHtml5',
                    'pdfHtml5',
                    'print'
                ],
                "lengthMenu": [5, 10, 25, 50, 75, 100],
                "pageLength": 10,
                serverSide: true,
                paging: true,
                "columns": [
                    {"data": 'rangeId'},
                    {"data": '_From'},
                    {"data": '_To'},
                    {"data": 'carrierId'},
                    {"data": 'rangeType'},
                    {"data": 'assignmentId'}
                ],
                "ajax": function (data, callback, settings) {

                    var el = $("#mainWidget");
                    blockUI(el);

                    var url = "/api/ranges";


                    var response = $.ajax({
                        "url": url
                    });

                    response.done(function (json) {
                        var result = {};
                        result.data = json;
                        if(recordsTotal==0){
                         if(result.data!=null && result.data.length>0) {
                          recordsTotal = result.data.length;
                        }
                         else{
                        recordsTotal=0;
                         }
                         }
                      result.recordsTotal=recordsTotal;
                      result.recordsFiltered =recordsTotal;
                        callback(result);
                    });

                    response.fail(function (errorThrown) {
                        var errorMessage = (errorThrown.responseJSON) ? errorThrown.responseJSON.message : errorThrown.responseText;
                        $('#errorThrown').html(errorMessage);
                        $('#error').show();
                    });
                }
            });

            $('#rangeType').change(function(){
                if($(this).val() == "Carrier"){
                    $('#carrierselect').attr('disabled', false);
                }
                if($(this).val() == "Random"){
                    $('#carrierselect').attr('disabled', true);
                    $("#carrierselect").empty();
                }

            });

            function fillCarriers() {
                //Check if we already initialized select2
                if (!$('#carrierselect').hasClass("select2-hidden-accessible")) {
                    $('#carrierselect').select2({
                        minimumInputLength: 1,
                        language: {
                            inputTooShort: function () {
                                return "Enter Carrier Name";
                            }
                        },
                        ajax: {
                            url: "/api/carriers",
                            quietMillis: 500,
                            data: function (params) {
                                return {
                                    carrierName: params.term,
                                    page: (params.page || 1) - 1,
                                    projection: 'select2'
                                }
                            },
                            processResults: function (data, page) {
                                if (data._embedded)
                                    return {results: data._embedded.carriers};
                                else
                                    return {results: data};
                            }
                        },
                        theme: 'bootstrap'
                    });
                } else {
                    $('#carrierselect').val(null);
                    $('#carrierselect').trigger('change');
                }
            }


            $("#buttonadd").click(function () {
                var carrier_id = $("#carrierselect").select2('val');
                var from=$("#from").val();
                var to=$("#to").val();
                var rangeType=$("#rangeType").val();
                if(from!=null && to!=null && from!="" && to!="" && rangeType!=null && rangeType!="") {
                    if(from.length==10 && to.length==10 && to.startsWith("9613") && from.startsWith("9613") ) {
                        if(rangeType!="" && rangeType!=null && rangeType=="Carrier" && carrier_id!=null) {
                            var Data = {
                                carrierId: carrier_id,
                                rangeType: rangeType,
                                _To: to,
                                _From: from
                            };
                            var url = "/api/ranges";
                            $.ajax({
                                type: "POST",
                                contentType: "application/json",
                                url: url,
                                data: JSON.stringify(Data),
                                dataType: 'json',
                                success: function (result) {
                                    table.ajax.reload();
                                    $('#errorMessageDivAdd').css("display", "none");
                                    $("#addrangeModal .close").click();
                                    $("#AddrangeForm")[0].reset();
                                },
                                error: function (e) {
                                    $('#errorMessageDivAdd').css("display", "block");
                                }
                            });
                        }
                        else{
                            /// fill in
                            $('#errorMessageDivAdd').css("display", "block");
                            $('#errorMessageAdd').text("Please fill missing data");
                        }
                    }
                    else{
                        // lebanon numbers
                        $('#errorMessageDivAdd').css("display", "block");
                        $('#errorMessageAdd').text("Lebanon from and To range must be between 9613000000 and 9613999999");
                    }
                }
                else{
                // fill in the appropriate forms
                    $('#errorMessageDivAdd').css("display", "block");
                    $('#errorMessageAdd').text("Please fill missing data");
                }
            });

            $('#btnCloseErrorDivAdd').click(function () {
                $('#errorMessageDivAdd').css("display", "none");
            });

        });

        // ]]>

 </script>
</div>
</body>
</html>
